.Rproj.user
.Rhistory
.RData
.Rprofile
.httr-oauth*
googlesheets.Rproj
jenny-scratch/*
googlesheets_token.rds
internal-projects/**/*.html
inst/shiny-examples/**/*.html
pics
jenny_token.rds
rsconnect
shiny_app_token.rds
old_snails
internal-projects/*not-cran-this*
.httr-oauth
